<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qrscanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".network.RetrofitMain"
        android:icon="@mipmap/ic_launcher_bsg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bsg_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.MoneyBackActivity"/>
        <activity android:name=".ui.NavigationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportViewActivity" />
        <activity android:name=".ui.PaymentStateActivity" /> <!-- <activity android:name=".TestActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> &lt;!&ndash; <uses-library android:name="com.android.future.usb.accessory" /> &ndash;&gt; -->
        <!--<activity-->
            <!--android:name=".splash.SplashScreen"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/SplashScreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".printer.PrinterActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
            <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!--<activity android:name="r"/>-->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </activity>
    </application>

</manifest>